# Database
DB_PORT=3306
DB_NAME=wiki 
DB_USER=wikiuser
DB_PASSWORD=change_me 

# Wiki location
WIKI_PORT=8080

# Admin credentials
ADMIN_USER=admin
ADMIN_PASS=adminpassword

# Secrets
MEDIAWIKI_SECRET=change_me

WIKI_CAPTCHA_SITE=10000000-ffff-ffff-ffff-000000000001
WIKI_CAPTCHA_KEY=0x0000000000000000000000000000000000000000

# Cloudflare cache purge
CLOUDFLARE_PURGE_ZONE_ID=change_me
CLOUDFLARE_PURGE_TOKEN=change_me

# Discord vars for the article feedback button
ARTICLE_FEEDBACK_DISCORD_HOOK=change_me
ARTICLE_FEEDBACK_DISCORD_GUILD_ID=change_me
ARTICLE_FEEDBACK_DISCORD_CHANNEL_ID=change_me