[submodule "extensions/CRWHooks"]
	path = extensions/CRWHooks
	url = https://github.com/codedbyjake/CRWHooks.git
[submodule "extensions/Citoid"]
	path = extensions/Citoid
	url = https://github.com/wikimedia/mediawiki-extensions-Citoid
